extends layout

block content
   h1 Login
     form(role='form', action='/users/login', method='post')
         label(for='username') Username
         input(type='text', id='user', name='username', placeholder='enter a username')
         label(for='password') Password
         input(type='password', id='password', name='password', placeholder='enter a password')
         button(type='submit') Submit
